aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
moviepy
requests
psutil
tgcrypto

git+https://github.com/TgRenameBot/12345.git

#git+https://github.com/code-x-mania/yt-new-dl.git
#git+https://github.com/code-x-mania/yt-new-dlp.git

olefile
pyshorteners
